@font-face {
    font-family: FontRegular;
    src: url(Assets/Fonts/sf-pro-display_regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FontRegular;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: 100%;
    height: 5vh;
    background-color: #f2f2f2;
    z-index: 50;
}

nav a{
    text-decoration: none;
    color: #333;
}

nav i{
    font-size: 1.1vw;
}